<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Candidato: {{ candidato.nome }}</title>
    </head>

    <body>
        <h1>{{ candidato.nome }}</h1>
        <p>E-mail: {{ candidato.email }}</p>
        {% if candidato.telefones %}
            <p>Telefone:
                {% for telefone in candidato.telefones %}
                    <span> {{ telefone }}</span>
                {% endfor %}
            </p>
        {% endif %}
        <p>Endereço: {{ candidato.cidade }}/{{ candidato.estado }}</p>
        {% if candidato.funcoes %}
            <h2>Busco oportunidades nas funções: </h2>
            <ul>
                {% for funcao in candidato.funcoes %}
                    <li>{{ funcao }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h2>Resumo profissional:</h2>
        <p>{{ candidato.resumo_profissional }}</p>
        {% if candidato.processos %}
            <h2>Processos inscritos:</h2>
            <ul>
                {% for processo in candidato.processos %}
                    <li>
                        <a href="{% url 'vagas:perfil_processo' processo.id %}">
                            {{ processo }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>