<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Processo: {{processo.titulo}}</title>
    </head>

    <body>
        <h1>{{ processo.titulo }}</h1>
        <p>Empresa: 
            <a href="{% url 'vagas:perfil_empresa' processo.recrutador.empresa.id %}">
                {{ processo.recrutador.empresa }}</p>
            </a>
        <p>Remuneração: R${{ processo.remuneracao }}</p>
        <p>Localização: {{ processo.cidade }} - {{ processo.estado }}</p>
        <p>{{ processo.descricao }}</p>
        
        {% if funcoes %}
            <h2>Em busca de</h2>
            <ul>
                {% for funcao in funcoes %}
                    <li>{{ funcao }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>