<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Candidato: {{ candidato.nome }}</title>
    </head>

    <body>
        <h1>{{ candidato.nome }}</h1>
        <p>E-mail: {{ candidato.email }}</p>
        {% if telefones %}
            <p>Telefone: 
                {% for telefone in telefones %}
                    <span>{{ telefone }}</span>
                {% endfor %}
            </p>
        {% endif %}
        <p>Endereço: {{ candidato.cidade }}/{{ candidato.estado }}</p>
        {% if funcoes %}
            <h2>Busco oportunidades nas funções: </h2>
            <ul>
                {% for funcao in funcoes %}
                    <li>{{ funcao }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h2>Resumo profissional:</h2>
        <p>{{ candidato.resumo_profissional }}</p>
    </body>
</html>